.wrapper
    &:hover,
    &:focus
        & > .overlay
            opacity: 1

.overlay
    background: linear-gradient(180deg, transparent 0%, transparent 25%, rgba(0,0,0,.75) 85%)
 
.blurhash
    position: absolute !important
    width: 100% !important
    height: 100% !important